<div fxLayout="column" fxLayoutAlign="center center">
  <div class="container about" fxFlex="100" fxLayoutAlign="center center">
    <div fxFlex="50">
      <h1>Compit</h1>
      <p class="about-text">
        - это система комплексного анализа компетенций студента, основанная на базе системы дистанционного обучения Костромского Государственного Университета.
        2017-2021 Федеральное государственное бюджетное образовательное учреждение высшего образования «Костромской Государственный Университет»
      </p>
    </div>

    <div class="about-left">
      <a class="logo" href="https://ksu.edu.ru/" title="Костромской Государственный Университет">
        <img src="../../../assets/img/kgynewlogo.png" alt="Костромской Государственный Университет" style="width:184px;height:90px;">
      </a>
    </div>


  </div>
  <app-diagram></app-diagram>
</div>

